<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885173831422-4h3gjfdcd86srf3hi1b5de0sibffs42e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885173831422-4h3gjfdcd86srf3hi1b5de0sibffs42e</string>
	<key>API_KEY</key>
	<string>AIzaSyBVn0TxD-Hm3Vf3lvBso20_63zaNbI7QX0</string>
	<key>GCM_SENDER_ID</key>
	<string>885173831422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ligafutApp</string>
	<key>PROJECT_ID</key>
	<string>appcampeonatofut</string>
	<key>STORAGE_BUCKET</key>
	<string>appcampeonatofut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885173831422:ios:cc62854276503d6d7807af</string>
</dict>
</plist>